* {
  font-size: 16px;
}

body {
  background-color: #84a98c;
}

header {
  position: fixed;
  height: 275px;
  width: 100%;
  background-color: #cad2c5;
  top: 0;
  left: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

li {
  display: inline-block;
  justify-items: center;
  padding: 5px;
}

.nav-links {
  color: black;
  margin: 25px;
  text-decoration: none;
  font-size: 4rem;
  font-family: "Montserrat";
}

.nav-links:hover {
  color: white;
}

main {
  margin-top: 315px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 500px 500px 500px;
  grid-gap: 90px;
  justify-items: center;
  margin-bottom: 95px;
}

section.intro-section {
  border: 1px solid black;
  height: 525px;
  width: 400px;
  justify-content: center;
  background-color: burlywood;
  padding: 25px;
}

section.intro-text {
  font-family: "Nunito", sans-serif;
  text-align: center;
}

h1 {
  font-size: 5rem;
}

#about-me-img-1, #about-me-img-2 {
  height: 100%;
  width: 100%;
  border-radius: 20px;
}

