header {
  background-color: #f5aaaa;
  width: 100%;
  position: relative;
  top: -20px;
  left: -20px;
  text-align: center;
  z-index: 10;
}

main {
  top: 80px;
}

li {
  margin: 20px;
  font-size: 25px;
  display: inline-block;
}

a {
  color: blue;
  font-weight: bolder;
}

h1 {
  margin: 20px;
}

img {
  height: 100px;
  width: 180px;
  margin: 20px;
}

#about-me-img1,
#about-me-img3 {
  float: left;
}

#about-me-img2 {
  float: right;
}
