* {
  font-size: 16px;
}

body {
  background-color: #84a98c;
}

header {
  position: fixed;
  height: 230px;
  width: 100%;
  background-color: #cad2c5;
  top: 0;
  left: 0;
  text-align: center;
  z-index: 10;
}

nav a {
  padding: 5px;
}

.nav-links {
  display: flex;
  justify-content: center;
  color: black;
  text-decoration: none;
  font-size: 2rem;
  font-family: "Montserrat";
}

.nav-links:hover {
  color: white;
}

main {
  margin-top: 250px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 550px 550px;
  grid-gap: 5px;
  justify-items: center;
}

#main-contact, #main-about {
  margin-top: 230px;
  margin-bottom: 25px;
  height: 100vh;
}

.contact-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.contact-container h1 {
  font-family: "Montserrat", sans-serif;
}

label {
  font-family: "Nunito", sans-serif;
  font-size: 2rem;
}

input {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
}

textarea {
  width: 100%;
}

section.intro-section {
  border: 1px solid black;
  justify-content: center;
  background-color: burlywood;
  height: 480px;
  width: 350px;
  margin-bottom: 10px;
}

section.intro-text {
  font-family: "Nunito", sans-serif;
  text-align: center;
}

h1 {
  font-size: 4rem;
  margin-top: 5px;
  margin-bottom: 25px;
}

h1.about-me {
  margin-top: 120px;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 3.5rem;
}

h1.portfolio {
  font-size: 3.5rem;
  margin-top: 40px;
  margin-bottom: 45px;
  text-align: center;
}

.hobby h2 {
  font-size: 2rem;
  text-align: center;
}

.project h2 {
  font-size: 2rem;
}

#success-message {
  font-size: 2rem;
  text-align: center;
  font-family: "Nunito", sans-serif;
}

p {
  font-size: 1.1rem;
  margin: 10px;
}

#about-me-img-1, #about-me-img-2 {
  height: 450px;
  width: 320px;
  border-radius: 15px;
  margin: 15px;
}

.hobby-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

section.hobby {
  border-radius: 25px;
  background-color: burlywood;
  margin: 10px;
  width: 430px;
  height: auto;
  justify-items: center;
}

section.hobby:hover {
  background-color: salmon;
}

section.project {
  background-color: burlywood;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
}

section.project:hover {
  background-color: salmon;
}

.hobby img {
  width: 390px;
  height: 300px;
}

form input, textarea {
  border: 2px solid black;
  background-color: #cad2c5;
}

@media screen and (min-width: 481px) {
  * {
    font-size: 16px;
  }

  header {
    position: fixed;
    width: 100%;
    height: 60px;
  }

  a {
    font-size: 1.5rem;
  }
  
  main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 120px;
  }

  nav {
    display: flex;
    justify-content: space-around;
  }

  form {
    margin: 25px;
  }

  #fname {
    width: 60;
  }

  #main-contact, #main-about {
    margin-top: 100px;
    margin-bottom: 0px;
    height: 500px;
  }

  section.hobby {
    border-radius: 25px;
    margin: 15px;
    width: 500px;
    justify-items: center;
  }

  .hobby img {
    width: 450px;
    height: 300px;
  }

  h1.about-me {
    margin-bottom: 10px;
  }

  #about-me-img-1:hover, #about-me-img-2:hover{
    margin-top: 100px;
    transform: scale(1.5);
    border-radius: 15px;
    border: 5px solid black;
  }
}